{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Filmes</title>
    <link rel="stylesheet" href="{% static 'filmes/style.css' %}">

</head>

<body>

    <form class="forms" method="post" enctype="multipart/form-data">

        <h1>{{ form.instance.pk|yesno:"Editar Filme, Novo Filme"}}</h1>

        {% csrf_token %}
        <div class="campos-form">
            {{form.as_p}}
        </div>

        <div class="acoes-form">
            <button type="submit" class="buttonSubmit">Salvar</button>
            <a href="{% url 'lista_filmes' %}" class="buttonBack">Voltar</a>
        </div>

    </form>

</body>

</html>