{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmes Cadastrados</title>
    <link rel="stylesheet" href="{% static 'filmes/style.css' %}">

</head>

<body>

    <header>

        <h1>Filmes Cadastrados</h1>
        <a class="buttonNavigate" href="{% url 'criar_filmes' %}">Novo Filme</a>

    </header>
    <div class="lista-filmes">

        {% for filme in filmes %}

        <div class="filme">

            <img src={{filme.capa}}>
            <p>{{ filme.titulo }} ({{ filme.ano }})</p>
            <div class="acoes">

                <a class="buttonNavigate" href="{% url 'atualizar_filmes' filme.pk %}">Editar</a>
                <a class="buttonNavigate" href="{% url 'deletar_filmes' filme.pk %}">Excluir</a>

            </div>

        </div>

        {% empty %}

        <div class="filme">

            <h1>Nenhum filme cadastrado.</h1>

        </div>

        {% endfor %}

    </div>

</body>

</html>