{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmes Cadastrados</title>
    <link rel="stylesheet" href="{% static 'filmes/style.css' %}">

</head>

<body>

    <header>

        <h1>Filmes Cadastrados</h1>

    </header>

    <div class="lista-filmes">

        {% for filme in filmes %}

        <div class="filme">

            <img src={{filme.capa}}>
            <p>{{ filme.titulo }} ({{ filme.ano }})</p>

        </div>

        {% endfor %}

    </div>

</body>

</html>